.App {
  color: var(--color);
}

@media (min-width: 360px) and (orientation: portrait) {
  html {
    font-size: 11px;
  }

  html .charactersListWrapper {
    width: 320px;
  }

  html .paginationWrapper {
    width: 300px;
  }

  html .characterName {
    padding-left: 74px;
  }

  html .detailsWrapper {
    font-size: 1.5rem;
    width: 340px;
  }

  html .text {
    line-height: 50px;
    padding-left: 30px;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  html {
    font-size: 12px;
  }

  html .charactersListWrapper {
    width: 340px;
  }

  html .paginationWrapper {
    width: 340px;
  }

  html .characterName {
    padding-left: 74px;
  }

  html button {
    height: 26px;
    width: 26px;
  }

  html .text {
    line-height: 60px;
    padding-left: 30px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 16px;
  }

  html .imgWrapper img {
    border: solid 3px var(--color);
  }

  html .charactersListWrapper {
    width: 480px;
  }

  html .paginationWrapper {
    width: 480px;
  }

  html .characterName {
    padding-left: 116px;
  }

  html button {
    height: 32px;
    width: 32px;
    border: 3px solid var(--color);
  }

  html .detailsWrapper {
    font-size: 1.6rem;
    width: 500px;
  }

  html .text {
    line-height: 80px;
    padding-left: 30px;
  }

  html .returnWrapper {
    bottom: 120px;
    height: 60px;
    width: 60px;
    border: 3px solid var(--color);
  }

  html #return {
    line-height: calc(60px - 6px);
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  html {
    font-size: 22px;
  }

  html .imgWrapper img {
    border: solid 4px var(--color);
  }

  html .charactersListWrapper {
    width: 600px;
  }

  html .paginationWrapper {
    width: 600px;
  }

  html .characterName {
    padding-left: 134px;
  }

  html button {
    height: 42px;
    width: 42px;
    border: 4px solid var(--color);
  }

  html .detailsWrapper {
    width: 700px;
  }

  html .text {
    line-height: 120px;
    padding-left: 30px;
  }

  html .returnWrapper {
    height: 80px;
    width: 80px;
    border: 4px solid var(--color);
  }

  html #return {
    line-height: calc(80px - 8px);
    font-size: 1.6rem;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  html {
    font-size: 11px;
  }

  html .charactersPageWrapper {
    height: 200vh;
    padding: 4vh;
  }

  html .imgWrapper {
    height: 40vh;
  }

  html .imgWrapper img {
    height: 40vh;
  }

  html .textCharacters {
    display: block;
    height: 16vh;
    line-height: 16vh;
  }

  html .charactersListWrapper {
    width: 360px;
    height: 120vh;
  }

  html .paginationWrapper {
    height: 16vh;
    width: 300px;
  }

  html .characterBlock {
    height: 12vh;
    line-height: 12vh;
  }

  html .characterName {
    padding-left: 96px;
  }

  html #i {
    padding-right: 3px;
    vertical-align: 1px;
  }

  html .text {
    line-height: 40px;
    width: 40%;
    padding-left: 0px;
  }

  html .data {
    width: 60%;
    padding-left: 0px;
  }

  html .detailsWrapper {
    position: static;
    transform: translate(0, 0);
    width: 400px;
    margin: 20px auto;
  }

  html .returnWrapper {
    right: 40px;
    bottom: 40px;
    transform: translateX(0);
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  html {
    font-size: 13px;
  }

  html .charactersListWrapper {
    width: 440px;
  }

  html .paginationWrapper {
    width: 340px;
  }

  html .characterName {
    padding-left: 120px;
  }

  html #i {
    padding-right: 3px;
    vertical-align: 1px;
  }

  html button {
    height: 26px;
    width: 26px;
  }

  html .text {
    width: 35%;
  }

  html .data {
    width: 65%;
  }

  html .detailsWrapper {
    width: 480px;
  }

  html .returnWrapper {
    right: 60px;
    bottom: 50px;
  }
}

@media (min-width: 731px) and (orientation: landscape) {
  html .text {
    line-height: 46px;
  }
}

@media (min-width: 823px) and (orientation: landscape) {
  html .returnWrapper {
    right: 80px;
    bottom: 60px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 12px;
  }

  html .charactersPageWrapper {
    margin: 30px auto;
    height: 768px;
    width: 1024px;
    padding: 10px;
  }

  html .imgWrapper {
    height: 180px;
  }

  html .imgWrapper img {
    height: 180px;
    border: solid 4px var(--color);
  }

  html .textCharacters {
    height: 54px;
    line-height: 54px;
  }

  html .charactersListWrapper {
    width: 380px;
    height: 400px;
  }

  html .paginationWrapper {
    height: 54px;
    width: 360px;
  }

  html .characterBlock {
    height: 40px;
    line-height: 40px;
  }

  html .characterName {
    padding-left: 98px;
  }

  html button {
    height: 28px;
    width: 28px;
    background-color: black;
    border: 2px solid var(--color);
  }

  html button:hover {
    -webkit-box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    -moz-box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    cursor: pointer;
  }

  html .characterBlock a:hover {
    color: white;
  }

  html .returnWrapper:hover {
    -webkit-box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    -moz-box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    cursor: pointer;
  }

  html .detailsWrapper {
    position: static;
    margin: 80px auto 40px auto;
    height: 500px;
    width: 1024px;
    padding: 10px;
    display: flex;
    font-size: 1.4rem;
    flex-wrap: wrap;
    width: 600px;
    align-items: center;
  }

  html .text {
    line-height: 30px;
    width: 50%;
    padding-left: 150px;
  }

  html .data {
    width: 50%;
    padding-left: 50px;
  }

  html .returnWrapper {
    display: block;
    position: static;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: black;
    border: 2px solid var(--color);
    border-radius: 5px;
    color: white;
    outline: none;
    font-weight: 700;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  html {
    font-size: 14px;
  }

  html .charactersPageWrapper {
    height: 900px;
    width: 1600px;
    padding: 10px;
  }

  html .imgWrapper {
    height: 220px;
  }

  html .imgWrapper img {
    height: 220px;
    border: solid 4px var(--color);
  }

  html .textCharacters {
    height: 70px;
    line-height: 70px;
  }

  html .charactersListWrapper {
    width: 460px;
    height: 520px;
  }

  html .paginationWrapper {
    height: 70px;
    width: 420px;
  }

  html .characterBlock {
    height: 52px;
    line-height: 52px;
  }

  html .characterName {
    padding-left: 122px;
  }

  html button {
    height: 32px;
    width: 32px;
  }

  html .detailsWrapper {
    height: 600px;
  }

  html .text {
    line-height: 70px;
    padding-left: 120px;
  }

  html .data {
    width: 50%;
    padding-left: 30px;
  }
}
