.App {
  color: var(--color);
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.ship1 {
  position: absolute;
  top: 65vh;
  width: 700px;
  z-index: -1;
  animation: flightOfTheFirstShip 60s linear infinite both;
}

.ship2 {
  position: absolute;
  top: 55vh;
  width: 40px;
  z-index: -1;
  animation: flightOfTheSecondShip 60s linear infinite both;
}

.ship3 {
  position: absolute;
  width: 40px;
  z-index: -1;
  animation: flightOfTheThirdShip 60s linear infinite both;
}

.star1 {
  position: absolute;
  top: 40vh;
  left: 84vw;
  width: 50px;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: firstStarFlash 60s linear infinite both;
}

.star2 {
  position: absolute;
  top: 24vh;
  left: 12vw;
  width: 50px;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: secondStarFlash 60s linear infinite both;
}

.star3 {
  position: absolute;
  top: 80vh;
  left: 14vw;
  width: 50px;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: thirdStarFlash 60s linear infinite both;
}

.star4 {
  position: absolute;
  top: 60vh;
  left: 50vw;
  width: 50px;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: fourthStarFlash 60s linear infinite both;
}

.star5 {
  position: absolute;
  top: 10vh;
  left: 90vw;
  width: 30px;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.star6 {
  position: absolute;
  top: 57vh;
  left: 13vw;
  width: 20px;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.star7 {
  position: absolute;
  top: 80vh;
  left: 86vw;
  width: 40px;
  z-index: -1;
  transform: translate(-50%, -50%);
}

@keyframes flightOfTheFirstShip {
  0% {
    left: 0;
    transform: translate(-100%, -50%);
  }

  50% {
    left: 100vw;
    transform: translate(0, -50%);
  }

  100% {
    left: 100vw;
    transform: translate(0, -50%);
  }
}

@keyframes flightOfTheSecondShip {
  0% {
    left: 0;
    transform: translate(-100%, -50%) rotateY(180deg);
  }

  58% {
    left: 0;
    transform: translate(-100%, -50%) rotateY(180deg);
  }

  68% {
    left: 100vw;
    transform: translate(0, -50%) rotateY(180deg);
  }

  100% {
    left: 100vw;
    transform: rotateY(180deg) translate(0, -50%);
  }
}

@keyframes flightOfTheThirdShip {
  0% {
    left: 0;
    top: 24vh;
    transform: translate(-100%, -50%);
  }

  78% {
    left: 0;
    top: 24vh;
    transform: translate(-100%, -50%);
  }

  86% {
    top: 50vh;
    left: 100vw;
    transform: translate(0, -50%);
  }

  100% {
    left: 100vw;
    transform: translate(0, -50%);
  }
}

@keyframes firstStarFlash {
  0% {
    transform: scale(0);
  }

  24% {
    transform: scale(0);
  }

  24.5% {
    transform: scale(1);
  }

  25% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes secondStarFlash {
  0% {
    transform: scale(0);
  }

  54% {
    transform: scale(0);
  }

  54.5% {
    transform: scale(1.4);
  }

  55% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes thirdStarFlash {
  0% {
    transform: scale(0);
  }

  74% {
    transform: scale(0);
  }

  74.5% {
    transform: scale(1.5);
  }

  75% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fourthStarFlash {
  0% {
    transform: scale(0);
  }

  92% {
    transform: scale(0);
  }

  92.5% {
    transform: scale(0.8);
  }

  93% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes flightOfTheThirdShipForLandScaleOrientation {
  0% {
    left: 0;
    top: 48vh;
    transform: translate(-100%, -50%);
  }

  78% {
    left: 0;
    top: 48vh;
    transform: translate(-100%, -50%);
  }

  86% {
    top: 100vh;
    left: 100vw;
    transform: translate(0, -50%);
  }

  100% {
    left: 100vw;
    transform: translate(0, -50%);
  }
}

@media (min-width: 360px) and (orientation: portrait) {
  html {
    font-size: 11px;
  }

  html .charactersListWrapper {
    width: 320px;
  }

  html .paginationWrapper {
    width: 300px;
  }

  html .characterName {
    padding-left: 74px;
  }

  html .detailsWrapper {
    font-size: 1.5rem;
    width: 340px;
  }

  html .text {
    line-height: 50px;
    padding-left: 30px;
  }
}

@media (min-width: 411px) and (orientation: portrait) {
  html {
    font-size: 12px;
  }

  html .charactersListWrapper {
    width: 340px;
  }

  html .paginationWrapper {
    width: 340px;
  }

  html .textCharacters {
    padding-top: 7px;
  }

  html .characterName {
    padding-left: 74px;
  }

  html button {
    height: 26px;
    width: 26px;
  }

  html .text {
    line-height: 60px;
    padding-left: 30px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  html {
    font-size: 16px;
  }

  html .imgWrapper img {
    border: solid 3px var(--color);
  }

  html .charactersListWrapper {
    width: 480px;
  }

  html .paginationWrapper {
    width: 480px;
  }

  html .characterName {
    padding-left: 116px;
  }

  html button {
    height: 32px;
    width: 32px;
    border: 3px solid var(--color);
  }

  html .detailsWrapper {
    font-size: 1.6rem;
    width: 500px;
  }

  html .text {
    line-height: 80px;
    padding-left: 30px;
  }

  html .returnWrapper {
    bottom: 120px;
    height: 60px;
    width: 60px;
    border: 3px solid var(--color);
  }

  html #return {
    line-height: calc(60px - 6px);
    font-size: 1.6rem;
  }

  html .ship1 {
    width: 1050px;
  }

  html .ship2 {
    width: 60px;
    z-index: -1;
  }

  html .ship3 {
    width: 60px;
  }

  html .star1 {
    width: 75px;
  }

  html .star2 {
    width: 75px;
  }

  html .star3 {
    width: 75px;
  }

  html .star4 {
    width: 75px;
  }

  html .star5 {
    width: 45px;
  }

  html .star6 {
    width: 30px;
  }

  html .star7 {
    width: 60px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  html {
    font-size: 22px;
  }

  html .imgWrapper img {
    border: solid 4px var(--color);
  }

  html .charactersListWrapper {
    width: 600px;
  }

  html .paginationWrapper {
    width: 600px;
  }

  html .textCharacters {
    padding-top: 10px;
  }

  html .characterName {
    padding-left: 134px;
  }

  html button {
    height: 42px;
    width: 42px;
    border: 4px solid var(--color);
  }

  html .detailsWrapper {
    width: 700px;
  }

  html .text {
    line-height: 120px;
    padding-left: 30px;
  }

  html .returnWrapper {
    height: 80px;
    width: 80px;
    border: 4px solid var(--color);
  }

  html #return {
    line-height: calc(80px - 8px);
    font-size: 1.6rem;
  }

  html .ship1 {
    width: 1400px;
  }

  html .ship2 {
    width: 80px;
    z-index: -1;
  }

  html .ship3 {
    width: 80px;
  }

  html .star1 {
    width: 100px;
  }

  html .star2 {
    width: 100px;
  }

  html .star3 {
    width: 100px;
  }

  html .star4 {
    width: 100px;
  }

  html .star5 {
    width: 60px;
  }

  html .star6 {
    width: 45px;
  }

  html .star7 {
    width: 80px;
  }
}

@media (min-width: 533px) and (orientation: landscape) {
  html {
    font-size: 11px;
  }

  html .App {
    height: auto;
  }

  html .charactersPageWrapper {
    height: 200vh;
    padding: 4vh;
  }

  html .imgWrapper {
    height: 40vh;
  }

  html .imgWrapper img {
    height: 40vh;
  }

  html .textCharacters {
    display: block;
    height: 16vh;
    line-height: 16vh;
  }

  html .charactersListWrapper {
    width: 360px;
    height: 120vh;
  }

  html .paginationWrapper {
    height: 16vh;
    width: 300px;
  }

  html .characterBlock {
    height: 12vh;
    line-height: 12vh;
  }

  html .characterName {
    padding-left: 96px;
  }

  html #i {
    padding-right: 3px;
    vertical-align: 1px;
  }

  html .detailsPageWrapper {
    position: relative;
    height: 100vh;
  }

  html .text {
    line-height: 35px;
    width: 40%;
    padding-left: 0px;
  }

  html .data {
    width: 60%;
    padding-left: 0px;
  }

  html .detailsWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }

  html .returnWrapper {
    right: 40px;
    bottom: 40px;
    transform: translateX(0);
  }

  html .ship1 {
    top: 130vh;
  }

  html .ship2 {
    top: 110vh;
  }

  html .ship3 {
    animation: flightOfTheThirdShipForLandScaleOrientation 60s linear infinite
      both;
  }

  html .star1 {
    top: 80vh;
  }

  html .star2 {
    top: 48vh;
  }

  html .star3 {
    top: 160vh;
  }

  html .star4 {
    top: 120vh;
  }

  html .star5 {
    top: 20vh;
  }

  html .star6 {
    top: 114vh;
  }

  html .star7 {
    top: 160vh;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  html {
    font-size: 13px;
  }

  html .charactersListWrapper {
    width: 440px;
  }

  html .paginationWrapper {
    width: 340px;
  }

  html .characterName {
    padding-left: 120px;
  }

  html #i {
    padding-right: 3px;
    vertical-align: 1px;
  }

  html button {
    height: 26px;
    width: 26px;
  }

  html .detailsPageWrapper {
    position: relative;
    height: 100vh;
  }

  html .text {
    width: 35%;
    line-height: 40px;
  }

  html .data {
    width: 65%;
  }

  html .detailsWrapper {
    width: 480px;
  }

  html .returnWrapper {
    right: 60px;
    bottom: 50px;
  }
}

@media (min-width: 731px) and (orientation: landscape) {
  html .text {
    line-height: 45px;
  }
}

@media (min-width: 823px) and (orientation: landscape) {
  html .returnWrapper {
    right: 80px;
    bottom: 60px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 13px;
  }

  html .App {
    height: 100vh;
  }

  html .charactersPageWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 768px;
    width: 1024px;
    padding: 10px;
  }

  html .imgWrapper {
    height: 180px;
  }

  html .imgWrapper img {
    height: 180px;
    border: solid 4px var(--color);
  }

  html .textCharacters {
    height: 54px;
    line-height: 54px;
  }

  html .charactersListWrapper {
    width: 380px;
    height: 460px;
  }

  html .paginationWrapper {
    height: 54px;
    width: 360px;
  }

  html .characterBlock {
    height: 46px;
    line-height: 46px;
  }

  html .characterName {
    padding-left: 90px;
  }

  html button {
    height: 28px;
    width: 28px;
    background-color: black;
    border: 2px solid var(--color);
  }

  html button:hover {
    -webkit-box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    -moz-box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    cursor: pointer;
  }

  html .characterBlock a:hover {
    color: white;
  }

  html .returnWrapper:hover {
    -webkit-box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    -moz-box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    box-shadow: 0px 0px 21px 3px rgba(255, 255, 255, 0.47);
    cursor: pointer;
  }

  html .detailsWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 1024px;
    padding: 10px;
    display: flex;
    font-size: 1.4rem;
    flex-wrap: wrap;
    width: 600px;
    align-items: center;
  }

  html .text {
    line-height: 30px;
    width: 50%;
    padding-left: 150px;
  }

  html .data {
    width: 50%;
    padding-left: 50px;
  }

  html .returnWrapper {
    position: fixed;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 320px);
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: black;
    border: 2px solid var(--color);
    border-radius: 5px;
    color: white;
    outline: none;
    font-weight: 700;
    margin-top: 30px;
  }

  html .ship1 {
    top: 65vh;
    width: 1050px;
    animation: flightOfTheFirstShip 90s linear infinite both;
  }

  html .ship2 {
    top: 55vh;
    width: 60px;
    animation: flightOfTheSecondShip 90s linear infinite both;
  }

  html .ship3 {
    width: 60px;
    animation: flightOfTheThirdShip 90s linear infinite both;
  }

  html .star1 {
    top: 40vh;
    width: 75px;
    animation: firstStarFlash 90s linear infinite both;
  }

  html .star2 {
    top: 24vh;
    width: 75px;
    animation: secondStarFlash 90s linear infinite both;
  }

  html .star3 {
    top: 80vh;
    width: 75px;
    animation: thirdStarFlash 90s linear infinite both;
  }

  html .star4 {
    top: 60vh;
    width: 75px;
    animation: fourthStarFlash 90s linear infinite both;
  }

  html .star5 {
    top: 10vh;
    width: 45px;
  }

  html .star6 {
    top: 57vh;
    width: 30p75;
  }

  html .star7 {
    top: 80vh;
    width: 60p;
  }
}
