.charactersNavigation {
  width: 100%;
}

.characterBlock {
  height: 5.6vh;
}

.characterName {
  display: block;
  line-height: 5.6vh;
  text-decoration: none;
  color: var(--color);
  font-size: 1.4rem;
}

i {
  vertical-align: 1px;
  margin-right: 2px;
  margin-left: 18%;
}
