.detailsWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  display: flex;
  font-size: 1.4rem;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
  align-items: center;
}

.text {
  line-height: 40px;
  width: 50%;
  padding-left: 40px;
}

.data {
  width: 50%;
  padding-left: 10px;
}

.returnWrapper {
  position: fixed;
  right: 50%;
  bottom: 60px;
  transform: translateX(50%);
  width: 100%;
  text-align: center;
  height: 40px;
  width: 40px;
  background-color: black;
  border: 2px solid var(--color);
  border-radius: 5px;
  color: white;
  outline: none;
  font-weight: 700;
}

#return {
  margin: 0;
  line-height: calc(40px - 4px);
  font-size: 1.4rem;
}
