.detailsWrapper {
  display: flex;
  font-size: 1.4rem;
  flex-wrap: wrap;
  width: 280px;
  margin: 8vh auto;
}

.text {
  width: 50%;
  padding: 10px 0px 10px 40px;
}

.data {
  width: 50%;
  padding: 10px 0px 10px 20px;
}

.returnWrapper {
  width: 100%;
  text-align: center;
  margin: 18px auto;
  height: 10vw;
  width: 10vw;
  background-color: black;
  border: 2px solid var(--color);
  border-radius: 5px;
  color: white;
  outline: none;
  font-weight: 700;
}

#return {
  margin: 0;
  line-height: calc(10vw - 4px);
  font-size: 1.4rem;
}
