.charactersPageWrapper {
  height: 100vh;
  padding: 2vh;
}

.imgWrapper {
  height: 20vh;
  text-align: center;
}

.imgWrapper img {
  height: 20vh;
  border: solid 2px var(--color);
  border-radius: 3px;
}

.textCharacters {
  display: block;
  height: 8vh;
  text-align: center;
  line-height: 8vh;
  color: var(--color);
  text-transform: uppercase;
  font-size: 1.8rem;
}

.charactersListWrapper {
  width: 300px;
  height: 60vh;
  margin: 0 auto;
}

.paginationWrapper {
  display: flex;
  height: 8vh;
  width: 280px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
