button {
  height: 22px;
  width: 22px;
  background-color: black;
  border: 2px solid var(--color);
  border-radius: 5px;
  color: white;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.selected {
  color: rgba(248, 28, 28, 0.842);
}
