/* Background pattern from Toptal Subtle Patterns */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poller One", cursive;
  font-size: 10px;
  background-image: url("img/tlo.png");
  --color: #ffe919;
}
